#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

//testing mouse movement and scroll binds...

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 8>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <21 34>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <28 29>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <30 31>;
        };

        lessthan {
            bindings = <&kp LESS_THAN>;
            key-positions = <25 26>;
        };

        greaterthan {
            bindings = <&kp GREATER_THAN>;
            key-positions = <33 34>;
        };

        leftbrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <27 26>;
        };

        rightbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <32 33>;
        };

        leftpar {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <28 27>;
        };

        rightpar {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <31 32>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <3 2>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <1 2 3>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <13 14 15>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <25 26 27>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22 23>;
        };

        redo {
            bindings = <&kp LC(Y)>;
            key-positions = <33 34 35>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2 38>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <22 34>;
        };

        s-quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <6 18>;
        };

        d-quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <7 19>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &kp Q       &kp W       &kp E           &kp R        &kp T            &kp Y      &kp U        &kp I        &kp O       &kp P          &trans
&trans  &hm LGUI A  &hm LALT S  &hm LSHIFT D    &hm LCTRL F  &kp G            &kp H      &hm RCTRL J  &hm RSHFT K  &hm RALT L  &hm RGUI SEMI  &trans
&trans  &kp Z       &kp X       &kp C           &kp V        &kp B            &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &trans
                                &kp LEFT_SHIFT  &mo 1        &kp BACKSPACE    &kp SPACE  &mo 2        &kp RETURN
            >;
        };

        SYM {
            display-name = "Sym";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &kp N1                &kp N2            &kp N3          &kp N4            &kp N5           &kp N6     &kp N7               &kp N8              &kp N9                  &kp N0         &trans
&trans  &hm LGUI EXCLAMATION  &hm LALT AT_SIGN  &hm LSHFT HASH  &hm LCTRL DOLLAR  &kp PERCENT      &kp CARET  &hm RCTRL AMPERSAND  &hm RSHFT ASTERISK  &hm RIGHT_ALT KP_MINUS  &hm RGUI PLUS  &trans
&trans  &kp TILDE             &kp GRAVE         &none           &none             &none            &none      &none                &none               &kp UNDERSCORE          &kp KP_EQUAL   &trans
                                                &kp LGUI        &trans            &kp BACKSPACE    &kp SPACE  &trans               &kp RETURN
            >;
        };

        NAV {
            display-name = "Nav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp ESCAPE    &kp INSERT    &none           &none      &none            &none      &kp HOME  &kp PAGE_DOWN  &kp PAGE_DOWN  &kp END    &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL  &kp TAB          &kp TAB    &kp LEFT  &kp DOWN       &kp UP         &kp RIGHT  &trans
&trans  &kp LG(Z)     &kp LG(X)     &kp LG(C)       &kp LG(V)  &kp LG(Y)        &kp CAPS   &none     &none          &none          &none      &trans
                                    &kp DELETE      &trans     &kp BACKSPACE    &kp SPACE  &trans    &kp RETURN
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2            &kp F3                     &kp F4                      &kp F5          &kp F6      &kp F7             &kp F8           &kp F9          &kp F10       &trans
&trans  &hm LGUI F11  &hm LEFT_ALT F12  &hm LEFT_SHIFT C_PREVIOUS  &hm LESS_THAN C_PLAY_PAUSE  &kp C_NEXT      &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRI_DN    &kp C_BRI_UP  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2               &bt BT_SEL 3                &bt BT_SEL 4    &bt BT_CLR  &bt BT_CLR_ALL     &none            &studio_unlock  &bootloader   &trans
                                        &trans                     &trans                      &trans          &trans      &trans             &trans
            >;
        };

        EXTRA {
            display-name = "Mouse";
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &msc SCRL_UP      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans            &trans  &trans  &trans  &trans  &trans  &trans
                                &trans          &trans           &trans            &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
